//= require_tree .
.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

h1{
	border-bottom:1px solid #ccc;
}

//@import 'bootstrap';

body{
	margin-top:50px;
}

#logo{
	margin-top:-16px;
}

.builder .body{
	width: 20%;
}

.thumbnail{
	margin:2px;
	width:90px;
}