---
title: Final final really final
date: 2014-11-01 11:17 UTC
tags: headless
subtitle: Final version of git
---

%h2 
  14 inches
  %small.text-muted scaled up a bit
= link_img "/img/headless/thru/pieces/14.png"


%h2 
  Wood
  %small.text-muted wood version
= link_img "/img/headless/thru/pieces/pv14.png"

