---
title: Final controls
date: 2014-11-08 11:17 UTC
tags: headless
subtitle: Control set
---


%h2 
  Controls
  %small.text-muted final

%p I want to be able to
%ul
  %li Split the hb
  %li Change the cap 1 for the hb and one for single
  %li Low priority, kill

%p Choose an aproach you think would best help me accomplish this.

%p Something like:

%ul
  %li 
    Volume / DPDT / HB/Split
  %li
    = link_to "Varitone","http://www.ebay.com/itm/6-position-Varitone-switch-guitar-or-bass-quality-parts-guaranteed-warranted-/151421523596?pt=Guitar_Accessories&hash=item23416d168c"

    %p I'm not exactly sure how this works but ideally, the push pull would control switching 2 caps - one "for hbs" and one for single coil. Then just turn for less/more resistance.

  %li Perhaps a switch on upper bout for split/hb/kill


= link_img "/img/headless/thru/shaved.png"

