---
title: Expanded Pieces
date: 2014-10-31 19:17 UTC
tags: headless
subtitle: String thru pics and pickup cavity
---

%h2 
  Wings
  %small.text-muted walnut
= image_tag "/img/headless/thru/pieces/wings.png", class: 'img-responsive'

%h2 
  Neck-thru
  %small.text-muted maple, walnut. Without the neck

= image_tag "/img/headless/thru/pieces/thru.png", class: 'img-responsive'

%h2 
  Bouts
  %small.text-muted  maple
= image_tag "/img/headless/thru/pieces/bouts.png", class: 'img-responsive'

= link_to "Reasoning for a headless", "https://www.youtube.com/watch?v=0DD2G-TfZOA"