<% content_for :carousel do %>
<img title="Fender Jaguar" src="/img/dbz/hf-charcoal.jpg" width="100%" class="img-responsive"/>
<%end %>


# DBZ Hailfire charcoal

* Yes, please! 
* Like that except 
  * One pickup
  * 7/8 body
  * 24" scale


### Mockup: Remove some of the bout and butt

<div class="alert alert-warning">
	Note that the scale seems smushed because the body is not 7/8 and frets have been removed
</div>


<img title="Fender Jaguar" src="/img/dbz/mod-hf.png" class="img-responsive"/>

### Mockup: What it might look like in Walnut

* Except I would like the charcoal/purple haze + cream center color scheme from the DBZ above


<img title="Fender Jaguar" src="/img/dbz/hf-walnut.png" class="img-responsive"/>

# Note the curve above the pickups

* I call this the feather
  * Form - lools pretty
  * Function? - location indicator
  * ...comtemplating...

[Hardtail with locking at nut](http://www.sweetwater.com/store/detail/WolfSpHTBK?adpos=1o1&creative=55280653081&device=c&matchtype=&network=g&gclid=CjwKEAjwns6hBRDTpb_jkbTv1UYSJACBhber3O3l5LjUJM7Y3EyNUXXsMOa8ypjoOZmL-lBiaxoAORoCCXbw_wcB)

### Hardware

* [Bridge, Kahler](http://www.ebay.com/itm/371155051979)

* [Pickup, Anvil Railhammer](http://www.ebay.com/itm/261615842218)

* [Tuners, Gotoh](http://www.ebay.com/itm/111438679197)

* [Knobs](http://www.ebay.com/itm/2pcs-48-20mm-Black-Aluminum-6mm-shaft-Guitar-Hi-fi-volume-tone-control-Knob-/271616378668?pt=Guitar_Accessories&hash=item3f3d99072c)

* [Kill switch](http://www.ebay.com/itm/Guitar-Kill-Switch-Momentary-Push-Button-Normally-Open-Stainless-Steel-22mm-/221450584385?pt=Guitar_Accessories&hash=item338f7bc141)
