<% 
content_for :carousel, partial('partials/carousel') 
%>

<h1>
  What
  <small class="text-muted">
    This is an exploration in building the 'perfect' guitar - for me
  </small>
</h1>

* Got my first guitar, way too late in life, for my birthday in June of 2012
* Have been kind of infatuated by them since
* The magnetics and electronics are fascinating
* Guitars are a perfect blend of form and function
* Hard to imagine a more expressive instrument


# Why

* To learn - by screwing up
* To explore - by trying new things
* For fun and relaxation
* There are no luthier schools around here
* So I've been ripping up perfectly good ones to see how they tick
* I've screwed up a few guitars but I've learned a lot

# Aethetics

* With almost every guitar I've ever seen - I wanted to remove something
  * Paint
  * Pickguard
  * Size

* Seldom have I wanted to add something
* Even with the most resplendent paint jobs, I wonder what the wood would look like

# What I've learned about 'quality'

* There is no _best_ guitar - only different guitars in different price ranges
* 90% of guitars are about 90% the same
* The top 5% guitars cost 10 to 20 times as much
* Of that 5%, 90% is subjective with few objective differentiations
* There has been very little innovation over the last 50 years, at least in terms of guitars with magnetic pickups

# Inspiration

* Parker - size
* DBZ - beautiful and plays great
* [Koz][koz]
  * There's lots to like about Koz guitars
    * Curves
    * [Digital lutherie](http://www.kozmguitars.com/digital_lutherie.html)
    * [CNC use](https://www.youtube.com/watch?v=fu8_Aeki6iY)
    * Curves

* [Stranberg][stran]
  * Headless guitars scream 'modern' to me
  * I __like__ the look without the head
  * Having the tuners on the body makes more sense to me

__My perfect guitar will borrow from all of these__

### I _don't_ like 

* Plastic
* Multiple pickups
* Heavy
* Exagerated, impractical shapes

### I like

* Fine tuners on a fixed bridge
* Locks at the nut
* Thin
* Beautiful wood
* Sexy Curves
* Ergonomics - guitars that take into consideration your body and playing style

# Headless

### My next, next guitar will be headless - using a lot from these exercises

* Bridge
  * __Floyd rose speedloader__ (though not traditionally deemed useful for headless)
  * [Hipshot](http://store.hipshotproducts.com/cart.php?m=product_detail&p=390)
  * [ABM](http://www.ebay.com/itm/NEW-ABM-3800-C-7080-C-6-String-Headless-System-For-Guitar-CHROME-/330929401368?pt=Guitar_Accessories&hash=item4d0cedee18)
  * [Stranberg](http://guitarworks.thestrandbergs.com/products/purchase-page/)



[koz]: http://www.strandbergguitars.com/
[stran]: http://www.kozmguitars.com/



