---
container: false
---

%img{:alt => "5 gits", :src => "/img/headless/colors/5.png", class: 'img-responsive', width: '100%'}/

.container
  %h1 
    HOT HOTTER HOTTEST HOT HOT
    %small.text-muted 
    /... get them while they are ...


  %img{:alt => "red on red", :src => "/img/headless/colors/tan-red.png", class: 'img-responsive'}/  

  / %h2 
  /   You know, just some pictures of my headless git design. 

  / %h3 
  /   The lower bouts - the'headless knee rests' is attributed to 
  /   = link_to 'Strandberg', 'http://strandbergguitars.com/who-we-are/'
  /   \.



/ %img{:alt => "red on red", :src => "/img/headless/colors/rock.png", class: 'img-responsive', width: '100%'}/

- last = blog.articles.first

.container
  Latest Blog:
  = link_to last.data.title, last.url, class: 'btn btn-default'

/- content_for :carousel, partial('partials/carousel/colors') 

